@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

*{
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
}

h1,h2,h3 .poppins {
    color:black;
    font-family: 'Plus Jakarta Sans';
}

/* span {
    font-family: inherit;
    font-weight: inherit;
} */

/* .bgGrid {
    background-size: 40px 40p;
    background-image:  linear-gradient(to right,grey 1px, transparent 1px),
    linear-gradient(to bottom,grey 1px, transparent 1px) ;
} */